/* contenedor imagenes */
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}
#resultado{
    flex-direction: column;
    max-width: 1000px;
    margin:0 auto;
    margin-top: 1 rem;
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    justify-content: center;
}
.cardApi{
    /* border: 1px solid; */
    /* padding: 5px; */
    text-align:center;
    transition: height 0.8s;
    height: 200px;
    width: 250px;
    border-radius: 4px;
  
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
}
.cardApi2{
    height: 200px;
    width: 250px;
}